<div class="mt-4">
  <form method="POST">
    <div class="form-group">
      <label for="search">tu khoa</label>
      <input
        type="text"
        class="form-control"
        name="q"
        id="search"
        placeholder="nhap tu khoa"
      />
    </div>
    <button type="submit" class="btn btn-primary">tim kiem</button>
  </form>
</div>